<h1 class="center-align">Contacto</h1>

<form action="" class="center-align">
    <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s2">
          </div>
        <div class="input-field col s4">
          <input placeholder="" id="first_name" type="text" class="validate">
          <label for="first_name">Nombres</label>
        </div>
        <div class="input-field col s4">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Apellidos</label>
        </div>
        <div class="input-field col s2">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s2">
        </div>
        <div class="input-field col s8">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s2">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s2">
        </div>
        <div class="input-field col s8">
          <input id="message" type="text" class="validate">
          <label for="message">Mensaje</label>
        </div>
        <div class="input-field col s2">
        </div>
      </div>
      <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-light btn">Enviar</a>
        </div>
      </div>
    </form>
  </div>
</form>