

      <nav>
            <div class="nav-wrapper green">
              <a routerLink="/home" class="brand-logo">Hogar Colombia</a>
              <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a routerLink="/home">Inicio</a></li>
                <li><a routerLink="/mision">Mision</a></li>
                <li><a routerLink="/vision">Vision</a></li>
                <li><a routerLink="/contacto">Contacto</a></li>
              </ul>
            </div>
          </nav>
        
          <ul class="sidenav" id="mobile-demo">
            <li><a routerLink="/home">Inicio</a></li>
            <li><a routerLink="/mision">Mision</a></li>
            <li><a routerLink="/vision">Vision</a></li>
            <li><a routerLink="/contacto">Contacto</a></li>
          </ul>
                  