<section class="hero">
    <div class="hero-inner">
        <h1>Hogar Colombia</h1>
        <h2>¡Aquí puedes vender, arrendar o permutar!</h2>
        <!--<a routerLink="/home" class="btn blue">Hotels</a> &nbsp;&nbsp;
        <a routerLink="/security/login" class="btn blue">Login!</a>-->
    </div>
</section>

<div class="center-align">
<h3 >EN VENTA</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi at perspiciatis quos numquam culpa, pariatur illum assumenda, nostrum quam natus possimus sed sit laboriosam harum quae debitis aut quia? Fugiat.</p>
<br>
<h3>EN ALQUILER</h3>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, sequi! Ullam, deserunt harum distinctio fuga eveniet, commodi blanditiis aperiam sit, cupiditate unde necessitatibus! Unde aperiam ullam hic consectetur maxime tenetur.</p>
</div>